.footer {
	margin-top: auto;
	padding: 60px 0;
	background-color: $light_gray;
	color: $dark_gray;

	&__grid {
		display: grid;
		grid-template-columns: 1fr 2fr 1.5fr;
		gap: 60px;
		align-items: start;
	}

	&__contacts p {
		font-weight: 400;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-size: 18px;
	}

	&__contacts a {
		display: inline-block;
		color: $dark_gray;
		text-decoration: none !important;
		font-size: 18px;

		&:hover {
			color: $teal;
		}
	}

	&__title {
		font-weight: 600 !important;
		margin-bottom: 15px !important;
	}

	.footer-nav {
		width: 100%;
	}

	.footer-menu {
		@include list-unstyled;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 250px;

		li {
			display: block;
			width: 50%;
			margin-bottom: 12px;

			a {
				display: inline-block;
				font-weight: 400;
				text-transform: uppercase;
				color: $dark_gray;
				text-decoration: none;
				font-size: 18px;
				padding: 0;

				&:hover {
					color: $teal;
				}
			}
		}
	}

	&__brand {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__logo {
		margin-bottom: 25px;
		img {
			max-width: 320px;
			height: auto;
		}
	}

	&__copy-text {
		font-size: 16px;
		color: $gray;
		text-align: left;
	}

	@media (max-width: 1024px) {
		&__grid {
			gap: 30px;
			grid-template-columns: 1fr 1.8fr 1.2fr;
		}
	}

	@media (max-width: 991px) {
		&__grid {
			grid-template-columns: 1fr 1fr;
		}
		&__brand {
			grid-column: span 2;
			margin-top: 40px;
			border-top: 1px solid rgba(0,0,0,0.1);
			padding-top: 30px;
		}
		.footer-menu {
			height: auto;
		}
	}

	@media (max-width: 767px) {
		&__grid {
			grid-template-columns: 1fr;
			text-align: center;
			gap: 40px;
		}
		&__brand {
			grid-column: span 1;
			align-items: center;
			text-align: center;
		}
		.footer-menu {
			height: auto;
			li {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
}