// Utils
@import 'inc/mixins';
@import 'inc/bootstrap-custom';
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

// Plugins
@import 'plugins/font-awesome/fontawesome';
@import 'plugins/slick.scss';
//@import 'plugins/jquery.fancybox.v2.scss'; // Uncomment this line and comment line above to use Fancybox v.2
@import 'plugins/jquery.fancybox.v3.scss';

/* -----------------------------------------
  Animation
----------------------------------------- */
@import 'inc/animation';

/* -----------------------------------------
  WooCommerce
----------------------------------------- */
//@import 'inc/woo';

/* -----------------------------------------
   WordPress Core Classes
----------------------------------------- */
@import 'inc/wp-core';

/* -----------------------------------------
   Global styles
----------------------------------------- */
@import 'inc/global';

/* ---------------------------------------
	Typography / Forms / Inputs / Buttons
--------------------------------------- */
@import 'inc/typography';

/* -----------------------------------------
    Contact Form
----------------------------------------- */
/*basic Gravity Form styles and fixes, if you dont need/use this -
comment or delete styles below*/
@import 'inc/gform';

/* ------------------------------------
    Content Styles
------------------------------------- */
@import 'inc/content';

/* ---------------------------------------
	Repeatable blocks
--------------------------------------- */
@import 'inc/repeatable-blocks';

/* ---------------------------------------
	Header
--------------------------------------- */
@import 'inc/header';

/* ---------------------------------------
	Sidebar
--------------------------------------- */
@import 'inc/sidebar';

/* ---------------------------------------
	Footer
--------------------------------------- */
@import 'inc/footer';

/*---------------------------------------
	TMPL: Home page
---------------------------------------*/
@import 'templates/home';

/* ---------------------------------------
	Page: Blog
--------------------------------------- */
@import 'templates/blog';

/* ---------------------------------------
	TMPL: Default page
--------------------------------------- */
@import 'templates/default';

/* ---------------------------------------
	TMPL: Contact page
--------------------------------------- */
@import 'templates/contact';

/* -----------------------------------------
  Home slider
----------------------------------------- */
@import 'inc/slider';

/* -----------------------------------------
  Flexible content
----------------------------------------- */
@import 'flexible/example_module';